@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    font-family     : "Play", sans-serif;
    background-color: #131313;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

div {
    margin: 200px auto;
}

h1 {
    color     : yellowgreen;
    text-align: center;
    font-size : 36px;
}

input {
    caret-color     : yellowgreen;
    color           : yellowgreen;
    background-color: #131313;
    border          : 2px solid grey;
    border-radius   : 10px;
    font-size       : 30px;
    outline         : none;
    padding         : 1em;
    cursor          : pointer;
}

input:focus {
    border-color: yellowgreen;
}