:root {
    --bg        : #171717;
    --text-color: #fff;
    --accent    : cyan;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family   : 'Mulish', sans-serif;
    background    : var(--bg);
    display       : flex;
    flex-direction: column;
    gap           : 5em;
    height        : 100vh;
    width         : 100vw;
    padding       : 5em;
    align-items   : center;
    justify-items : center;
}

.square-01 {
    background-color: orange;
    width           : 100px;
    height          : 100px;
    animation       : rotate 2.5s infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.square-02 {
    background-color: orange;
    width           : 100px;
    height          : 100px;
    animation       : fadeIn 2s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.square-03 {
    background-color: orange;
    width           : 100px;
    height          : 100px;
    animation       : pulsing 2s infinite;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.square-04 {
    background-color: orange;
    width           : 100px;
    height          : 100px;
    animation       : bouncing 1s infinite;
}

@keyframes bouncing {

    0%,
    50% {
        transform: translateY(0);
    }

    46% {
        transform: translateY(-35px);
    }

    66% {
        transform: translateY(-15px);
    }
}